.login__Wrapper{
    flex: 4
}

.login{
    align-items: center;
    display: flex;
    margin: auto;
    flex-direction: column;
    height: calc(100vh - 80px);
    width: 400px;
    padding-top: 100px;
}

.login__button{
    margin-top: 30px;
}